:root{
  --background-color: linear-gradient(to right bottom,rgb(153, 44, 196),rgb(6, 205, 255));
  --año-pelicula: rgba(0, 122, 255);
  --background-color-header: rgb(97, 128, 231);
  --background-color-barra: rgb(69, 136, 230, 0.7);
  --color-letras: white;
}
body{
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  text-decoration: none;
}

/*ESTILOS PARA LA NAVBAR*/
header{
  position: sticky; /*PROPIEDAD PARA QUE LA NAVBAR BAJE AL HACER SCROLL*/
  top: 0;
  z-index: 4;
}
.navbar {
  background-color: var(--background-color-header);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  gap: 5rem;
}
.navbar img{
  height: 3rem;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar li {
  margin: 0 10px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.searchBar{
   height: 2.2rem;
   width: 15rem;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   border: none;
   padding: 10px;
}
.searchBar:focus-within{
  border: solid 1px #aaa;
  box-shadow: 0px 2px 5px rgb(173, 157, 157);
}
/*------------- */
.pagina-inicio{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
/*ESTILOS PARA BARRA LATERAL IZQUIERDA DE GENEROS*/
.barra-lateral-izquierdo{
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-barra);
  width: 18%;
  height: 100vh;
  border: 1px solid var(--bordes);
  padding: 20px;
  border-radius: 0px 0px 10px 0px;
}
.barra-lateral-izquierdo .titulo-generos{
  font-size: 18px;
  color: white;
}
.barra-lateral-izquierdo .links-generos{
  display: flex;
  flex-direction: column;
}
.barra-lateral-izquierdo .links-generos ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.barra-lateral-izquierdo .links-generos ul li{
  margin: 15px 0;
}
.barra-lateral-izquierdo .links-generos a{
  text-decoration: none;
  color: var(--color-letras);
  margin: 8px 0;
}
.contenedor-mejores-reseñas{
  color: var(--color-letras);
}
#mejores-reseñas{
  width: 90%;
}
#mejores-reseñas .pelicula-mejor-reseña{
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--color-letras);
  gap: 5px;
}
#mejores-reseñas .pelicula-mejor-reseña figure{
  margin: 0;
  width: 100%;
  height: 100%;
}
#mejores-reseñas .pelicula-mejor-reseña figure img{
  width: 4rem;
  height: 5rem;
}
#mejores-reseñas .pelicula-mejor-reseña .barra-izquierda-descripcion{
  font-size: 14px;
  text-align: left;
}
#mejores-reseñas .pelicula-mejor-reseña .barra-izquierda-descripcion h3{
  margin: 0;
}
#mejores-reseñas .pelicula-mejor-reseña .barra-izquierda-descripcion p{
  margin: 0;
}
/*------*/
/*SPINNER DE CARGA*/
.spinner-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*------*/
/*ESTILOS PARA LA PELICULA*/
.populares{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}
.populares h2{
  color: var(--color-letras);
}
.contenedor-favoriteMovies {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.contenedor-favoriteMovies .pelicula {
	text-align: start;
  padding: 1rem;
  border-radius: 10px;
  height: 17rem;
}
.contenedor-favoriteMovies .pelicula .titulo{
	font-size: 16px;
	font-weight: 600;
  margin: 0;
}
.contenedor-favoriteMovies .pelicula figure{
  width: 100%;
  margin: 0;
  position: relative;
}
.contenedor-favoriteMovies .pelicula .poster {
	width: 100%;
  height: 15rem;
	margin-bottom: 10px;
	border-radius: 15px;
}
.contenedor-favoriteMovies .pelicula .año-estreno{
  background-color:var(--año-pelicula);
  color: var(--color-letras);
  position: absolute;
  top: 200px;
  left: 110px;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.contenedor-favoriteMovies .pelicula:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.contenedor-favoriteMovies .link{
  text-decoration: none;
}
.titulo-container{
  height: 40px;
}
.titulo{
  color: var(--color-letras);
  font-size: 12px;
}
/* ----- */

/*ESTILO DE LOS BOTONES*/
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 4rem;
  position: sticky;
  bottom: 0;
}
#btnAnterior{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: white;
  color: rgb(76, 131, 251);
  cursor: pointer;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}
#btnSiguiente{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: white;
  color: rgb(76, 131, 251);
  cursor: pointer;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}
.buttonsPosition{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.btnAnterior:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.btnSiguiente:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* ----- */

/*ESTILO DE DETALLE_PELICULA*/
.movie-details-container{
  width: 100%;
  height: 600px;
}
.movie-details-container .movie-details{
  width: 98%;
  height: 100%;
  position: relative;
}
.movie-details-container .movie-details .portada{
  width: 100%;
  position: absolute;
  z-index: 1;
}
.movie-details-container .movie-details .portada img{
  height: 600px;
  width: 102%;
  object-fit: cover;
}
.movie-details-container .movie-details .info-peli{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 570px;
  padding: 1rem;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--color-letras);
}
.movie-details-container .movie-details .info-peli img{
  height: 300px;
  width: 300px;
}
.movie-details-container .movie-details .info-peli .info-peli-descripcion{
  padding: 15px;
  margin: 0;
  font-size: 1.2rem;
}
/* ----- */
.video{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.video video{
  border-radius: 20px;
}
/* ------ */

/*FOOTER*/
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color-header);
  color: var(--color-letras);
}
.redes-sociales img {
  width: 30px;
  margin-right: 10px;
}

.logo img {
  width: 110px;
}

.formulario-contacto {
  flex-grow: 0.8;
}

.formulario-contacto form {
  display: flex;
  flex-direction: column;
}

.formulario-contacto form label {
  margin-bottom: 5px;
}

input, textarea {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* ---- */ 

/*MEDIA QUERIES*/
@media (max-width: 800px){
  
  header{
    background-color: rgb(97, 128, 231);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    height: 3rem;
  }

  .navbar{
    width: 100%;
    gap: 1rem;
  }

 
  .menu-movil{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor-favoriteMovies{
    grid-template-columns: repeat(3, 1fr);
  }

  .catalogo{
    width: 35rem;
    height: 35rem;
  }
}

@media (width <= 550px){

  .navbar{
    width: 100%;
    gap: 0;
  }
  .searchBar{
    width: 80%;
  }

  .catalogo{
    width: 25rem;
    height: 25rem;
  }

  .contenedor-favoriteMovies{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 1024px){
  .navbar .searchBar{
    width:min-content;
  }

  .nav-item{
    font-size: 1.2rem;
  }

  .navbar img{
    height: 170px
  }
}

@media (width <= 892px){
  .navbar{
    gap: auto;
  }


}

@media (width <= 322px){
  .contenedor-favoriteMovies{
    grid-template-columns: repeat(1, 1fr);
  }
  .poster img{
    height: 1rem;
  }
}


/*MEDIA QUERIES DE LA PAGINA DONDE SE MUESTRA LA INFORMACION DE LAS PELICULAS*/
@media (width <= 551px){
  .info-peli h1{
    font-size: 2rem;
  }

  .info-peli img{
    height: 20rem;
  }

  .info-peli p{
    font-size: 1rem;
  }

}

@media (width <= 463px){

  .navbar img{
    width: 30%;
    height: 100px;
  }
  .nav-item{
    font-size: 14px;
  }
  .searchBar{
    width: 60%;
  }
  .info-peli h1{
    font-size: 1.5rem;
  }

  .info-peli img{
    height: 20rem;
  }
}

@media (width <= 360px){

  .navbar{
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  .navbar img{
    width: 15%;
    height: 100px;
  }
  .searchBar{
    width: 40%;
    margin-top: 5px;
  }
  .catalogo{
    width: 15rem;
    height: 15rem;
  }
  .info-peli h1{
    font-size: 1.2rem;
  }

  .info-peli img{
    height: 20rem;
  }
}

@media (width <= 297px){
  .info-peli h1{
    font-size: 1rem;
  }

  .info-peli img{
    height: 20rem;
  }
}